/* src/components/BackgroundVideo/background.styles.css */
body {
  margin: 0;
  padding: 0;
}
.cyclingContainer {
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height */
}

.cyclingpic {
  position: relative;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;

  transform: translate(-50%, -50%);
}

.content {
  position: absolute;
  top: -70%;
  left: -20%;
  z-index: 81;
}

.content0 {
  position: relative;
  width: fit-content;
  gap: 50%;
  top: -97%;
  left: 35%;
  font-family: "Karla", sans-serif;
  line-height: 1.7;
  text-decoration-line: underline;
  color: #fffaed;
  font-size: 1.4rem;
  z-index: 8;
}

.shop-now-button {
  background-color: #96daea;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  line-height: 1.5;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.shop-now-button:hover {
  background-color: rgba(245, 242, 242, 0.555);
}
@media (max-width: 768px) {
  .cyclingContainer {
    width: 100%;
    height: 700px;
    object-fit: contain;
    background-image: url(../../assets/cycleshirt.jpg);
  }
  .content0 {
    top: 0;
    left: 50px;
  }
  .cyclingpic {
    display: none;
  }
}
