.navigate {
  background-color: #fffaed;
  padding: 1rem;
  display: flex;
  justify-content: space-between; /* Space out the items */
  align-items: center; /* Center items vertically */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "Karla", sans-serif;
  padding-left: 6rem;
  padding-right: 6rem;
}

.navigate a {
  text-decoration: none; /* Remove underline from links */
  color: #333; /* Set link color */
  font-size: 1.2rem; /* Increase font size */
  margin: 0 1rem; /* Add margin around links */
}

.navigate img {
  height: 40px; /* Set the height of the logo */
}

.navigate svg {
  height: 40px; /* Set the height of the logo if using SVG */
}

.navigate a:hover {
  color: #007acc; /* Change color on hover */
}
